<?xml version="1.0" encoding="utf-8"?>
<nlog internalLogFile="~\App_Data\file.txt"
	  xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  throwExceptions="true"
	  autoReload="true">
	<extensions>
        <add assembly="NLog.Extended" />
    </extensions>
	<variable name="AppName"
			  value="K4GDW Url Shortener" />
	<targets>
		<target name="file"
				xsi:type="File"
				layout="${longdate}|${AppName}|${logger}|${level}|${message}"
				fileName="${basedir}/logs/${shortdate}.txt"
				keepFileOpen="false"
				encoding="iso-8859-2" />
		<target name="csv"
				xsi:type="File"
				fileName="${basedir}/logs/${shortdate}.csv">
			<layout xsi:type="CSVLayout">
				<column name="time"
						layout="${longdate}" />
				<column name="message"
						layout="${message}" />
				<column name="logger"
						layout="${logger}"/>
				<column name="level"
						layout="${level}"/>
			</layout>
		</target>
	</targets>
	<rules>
		<logger name="*"
				writeTo="file" />
	</rules>
</nlog>
